@use "../../assets/sass/mixins" as *;
@use "./../../assets/sass/variables" as *;


.node {
    background-color: $white-color;
    border-radius: 40px;
    width: 76px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px $white-color;
    position: relative;
    margin: 0px;

    svg {
        box-shadow: 0 0 30px $white-color;
    }

    &__image {
        width: 40%
    }

    &--locked {
        box-shadow: none;
        border: rgba($color: $white-color, $alpha: 0.5) 3px solid;
        background-color: transparent;
    }
}