@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;


.node {
    background-color: white;
    border-radius: 40px;
    width: 76px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px white;

    &__image {
        width: 50%
    }

    &--locked {
        box-shadow:none;
        border: white 3px solid;
        background-color: transparent;

    }
}