@use "../../assets/sass/variables" as *;

.button {
  font-family: $secondary-font-family;
  background-color: $primary-color-green;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 17px;
  font-size: 14px;
  font-weight: $font-weight-bold;
  &--secondary {
    background-color: $secondary-color-light-cream;
  }
}
