@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

.course-overview {
  position: relative;
  overflow: clip;

  &__filters {
    position: sticky;
    top: 0;
    background-color: $white-color;
    margin: 1em 0;
  }

  &__headerSection {
    margin: 1rem 1.875rem 1rem;
    display: flex;
    align-items: center;
  }

  button {
    display: inline-block;
  }

  &__heading {
    font-size: 20px;
    font-weight: $font-weight-regular;
    color: $primary-color-navy;
    font-family: $secondary-font-family;
    display: inline-flex;
    margin-left: 20%;
  }

  &__content {
    margin: 4.375rem 2.5rem 0;
  }

  &__sub-heading {
    @include heading3;
    color: $primary-color-navy;
    font-family: $secondary-font-family;
  }

  &__paragraph {
    @include paragraph;
    color: $primary-color-blue-gray;
    font-family: $secondary-font-family;
    font-weight: $font-weight-regular;
    margin: 1.25rem 0 2rem;
  }
}
