@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

.course-overview {
  overflow: clip;
  &__filters {
    position: sticky;
    top: 0;
    background-color: $white-color;
    margin: 1em 0;
  }

  &__headerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    // border: 1px solid red;
    margin: 1rem 1.875rem;
  }

  &__heading {
    font-size: 20px;
    font-weight: $font-weight-regular;
    color: $primary-color-navy;
    font-family: $secondary-font-family;
    // text-align: center;
    // flex-grow: 1;
  }
  &__sub-heading {
    @include heading3();
    color: $primary-color-navy;
    font-family: $secondary-font-family;
    margin: 1em 0;
  }

  &__paragraph {
    color: $primary-color-blue-gray;
    font-family: $secondary-font-family;
    font-size: 14px;
    font-weight: $font-weight-regular;
    margin: 1em 0;
  }

  &__content {
    margin: 1em 3em;
  }
}
