@use "./../../assets/sass/variables" as *;
@use "./../../assets/sass/mixins" as *;

.article-index-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 5px 20px;

    &__heading-img {
        max-width: 350px;
        max-height: 300px;
        border-radius: 15px;
        margin: 10px 0px;
    }

    &__title {
        font-family: $primary-font-family;
    }

    &__info {
        display: flex;
        flex-direction: row;
        margin: 15px 0;
        color: $primary-color-lilac;
        justify-content: flex-start;
        width: 100%;
        
        &__img {
            width: 20px;
            margin-right: 10px;
        }

        &__time {
            margin-right: 40px;
        }
    }

}