@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.end-screen {
  background: $primary-color-green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  padding: 67px;

  &__title {
    @include heading4;
    color: $white-color;
  }

  &__podium {
    height: 271px;
    width: 271px;
  }

  &__underline {
    width: 242px;
    height: 17px;
  }

  &__message {
    color: $white-color;
    font-size: 20px;
  }

  &__retake-icon {
    background-color: #A6D0B2;
  }

  &__button {
    width: 303px;
    height: 65px;

    &--retake {
      font-family: $secondary-font-family;
      background-color: #A6D0B2;
      width: 100%;
      height: 60px;
      border: none;
      border-radius: 17px;
      font-size: 14px;
      font-weight: $font-weight-bold;
      color: $white-color;
    }
  }
}
