@use "../../assets/sass/variables" as *;

.skills-tree-page {
    background-color: $primary-color-green;
    display: flex;
    flex-direction: column;
    
    &__heading {
        text-align: center;
        color: $white-color;
    }

}