@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/reset" as *;

.finish-tree-node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 58px;

  &__container {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0px;

    &__circle {
      width: 199px;
      z-index: 1;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    &__img {
      width: 200px;
      height: 200px;
      z-index: 2;
      position: absolute;
      top: 21px;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__lock {
      position: absolute;
      z-index: 4;
      top:61px;
      width: 53px;
    }
  }

  &__line {
    margin: 20px;
    width: 168px;
  }

  &__heading {
    top: 19px;
    color: $white-color;
    text-align: center;
    margin: 36px;
    margin-top: 32px;;
    font-size: 18px;
    font-weight: 500;
  }

  &__overlay {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $primary-color-green;
    opacity: 0.55;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
}
