.skills-tree {
    display: flex;
    flex-direction: column;
    position: relative;

    &__level {
        margin-top: 117px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
}