
.nav-bar{
    width: 420px;
    height: 108px;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    border-top: 1px solid #f8f8f8 ;
    background-color: white;
    position: sticky;
    bottom: 0px;


    &__img{
        width: 40px;
        height: 40px;
    }
    &__link--active{
        filter: invert(63%) sepia(17%) saturate(1624%) hue-rotate(119deg) brightness(160%) contrast(96%);   
        
    }
}
