* {
  margin: 0;
}

@media only screen and (max-width: 420px) {
  body {
    background-color: lightblue;
  }
  .input {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__label {
      display: flex;
      justify-content: flex-start;
    }

    &__input {
      border: none;
      border-radius: 5px;
      padding: 5px;
    }
  }
}
