@use "../../assets/sass/variables" as *;

.back {
    align-self: flex-start;
    &__button {
        border-radius: 25px;
        border: 1px solid $primary-color-blue-gray;
        color: $primary-color-green;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }
}