@use "../../assets/sass/variables" as *;

.back-button {
  align-self: flex-start;
  border-radius: 25px;
  border: 1px solid $primary-color-blue-gray;
  color: $primary-color-green;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  &--secondary {
    background-color: $primary-color-green;
    border: 1px solid $white-color;
  }
}
