@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.trophy-header {
  display: flex;
  @include light-green-background();
  align-items: center;
  justify-content: space-between;
  margin-bottom: 69px;

  &__backButton {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 3.5px;
    bottom: -39px;
    left: 30px;
    width: 47px;
    height: 47px;
    background-color: $white-color;
    border-radius: 25px;
  }

  &__trophy {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -39px;
    background-color: white;
    width: 130px;
    height: 39px;
    border-radius: 22px;
    margin-right: 30px;
  }
}

