@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.trophy-stats{
  position: relative;
  bottom: -39px;
  width: 155px;
  height: 45px;
  margin-right: 50px;
  background-color: $white-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #f1f1f1;
  border-radius: 22px;
  padding: 2px;

  &__container {
    width: 75px;
    display: flex;
    justify-content: center;
    
    * {
      margin: 3px;
    }

    &__paragraph {
      @include paragraph();
      font-weight: $font-weight-bold;
      color: $secondary-color-dark-grey; 
    }
  
    &__icon {
      width: 14px;
    }

  }
  
  
}
