@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.trophy-stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 130px;
  border: 1px solid #f1f1f1;
  border-radius: 22px;
  padding: 10px;
  margin: 30px;
  &__paragraph {
    @include paragraghSmall();
    font-weight: $font-weight-bold;
  }
}
