@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

.pathways-menu{
  @include light-green-background ();

  &__heading{
    @include heading1;
    color: $secondary-color-dark-grey;
    margin: 30px;
    margin-top: 51px;
    margin-bottom: 20px;
  }

  &__filters{
    margin: 1em;
  }

  &__list{
    margin: 1em;
    margin-bottom: 108px;
  }

  &__navbar{
    padding-top: 1em;
  }
}