@use "../../assets/sass/variables" as *;

.video-card-list {
  position: relative;
  margin-bottom: 100px;

  & img {
    position: absolute;
    bottom: -45px;
    left: 45px;
    background: $white-color;
    padding: 25px;
    border-radius: 50%;
  }
}
