*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.nav-bar{
    width: 420px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &__buttons {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: solid black 1px;
        border-radius: 50px;
        color: hwb(0 0% 100%);
        
    }

    &__test{
        filter: invert(63%) sepia(17%) saturate(1624%) hue-rotate(119deg) brightness(160%) contrast(96%);      
    }

    &__img{
        width: 40px;
        height: 40px;
    }
}

