@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
.challenge__header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #effefb;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 69px;
}
.challenge__question-number {
  color: #b1b8cf;
  font-size: 32px;
}
.challenge__question-text {
  color: black;
  font-family: "Lexend Deca", sans-serif;
  font-size: 24px;
}
.challenge__question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.challenge__backButton {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 3.5px;
  bottom: -39px;
  left: 30px;
  width: 47px;
  height: 47px;
  background-color: white;
  border-radius: 25px;
}
.challenge__trophy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -39px;
  background-color: white;
  width: 130px;
  height: 39px;
  border-radius: 22px;
  margin-right: 30px;
}
.challenge__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.challenge__back-button {
  padding: 5px;
  border: 1px solid #7d92a5;
  margin-right: 10px;
  background-color: white;
  height: 45px;
  width: 45px;
  margin-top: 20px;
}
.challenge__forward-button {
  padding: 5px;
  border: 1px solid #7d92a5;
  background-color: white;
  height: 45px;
  width: 45px;
  margin-top: 20px;
}