@use "../../assets/sass/variables" as *;
@use "../../assets/sass/mixins" as *;

.card {
  font-family: $primary-font-family;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 180px;
  max-width: 180px;
  background-color: $secondary-color-light-green;
  border-radius: 11px;
  padding: 35px 20px 25px;

  &__progress {
    position: absolute;
    top: 12px;
    right: 16px;
  }
  &__image {
    width: 91px;
  }
  &__header {
    @include heading2;

    color: $primary-color-navy;
  }
  &__topics {
    @include heading4;

    color: $primary-color-blue-gray;
  }
}
