@use "../../assets/sass/mixins" as *;
@use "../../assets//sass/variables" as *;

.articles {
  &__header {
    position: relative;
    @include light-green-background();
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
  }

  &__title {
    font-size: $font-size-extra-large;
    font-weight: $font-weight-regular;
    align-self: flex-start;
    margin: 40px 0px 20px;
  }
}

.user-icon {
  position: absolute;
  bottom: -25px;
  left: 20px;
  background-color: white;
  width: auto;
  margin: 0;
  border: 1px solid #f1f1f1;
  border-radius: 50%;
  padding: 3px;
}

.trophy-stats-container {
  position: absolute;
  right: 20px;
  bottom: -18px;
  background-color: white;
  width: 100px;
  height: auto;
  border-radius: 22px;
}
