@use "../../assets/sass/variables" as *;
.menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  border: 2px solid #f3f3f3;
  border-radius: 23px;
  height: 63px;
  background-color: $white-color;
  width: 100%;
  &__link {
    font-size: $font-size-extra-small;
    font-weight: $font-weight-bold;
    font-family: $secondary-font-family;
    color: #44435e;
    margin: 0.5em;
    width: 80px;
  }
}

.active {
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(
    to right,
    transparent 20%,
    $primary-color-green 20%,
    $primary-color-green 80%,
    transparent 80%,
    transparent 100%
  );
  border-image-slice: 1;
  padding-bottom: 18px;
}
