@use "../../assets/sass/mixins" as *;
@use "../../assets/sass/variables" as *;

.welcome-header {
    display: flex;
    justify-content: space-between;
    &__welcome-message{
         margin: 30px;
        &__title{
            font-size: 20px;
            font-weight: lighter;
            color:$primary-color-blue-gray;
            padding-bottom: 7px;
            font-family: $primary-font-family;
        }
        &__username{
            @include heading1;
            color: $primary-color-navy;
            font-family: $primary-font-family;
        }
    }

    &__icon {
        margin: 30px;
        align-self: end;
    }
}