@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
.quiz {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: solid 1px lightgray;
  border-radius: 20px;
  height: 80px;
  text-align: center;
  align-items: center;
  max-width: 80%;
}
.quiz__question {
  font-family: "Lexend Deca", sans-serif;
  font-size: 20px;
  color: black;
  margin-right: 20px;
  margin-left: 20px;
}
.quiz__answer {
  font-family: "Lexend Deca", sans-serif;
  font-size: 12.8px;
  color: #7d92a5;
}

.correct {
  background-color: #b3dec0;
}

.incorrect {
  background-color: #fe6e6e;
}