@use "./variables" as *;

@mixin heading1(){
    font-size: $font-size-extra-large;
    font-weight: $font-weight-regular;
}

@mixin heading2(){
    font-size: $font-size-large;
    font-weight: $font-weight-regular;
}

@mixin heading3(){
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
}

@mixin heading4(){
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
}

@mixin heading5(){
    font-size: $font-size-extra-small;
    font-weight: $font-weight-regular;
}

@mixin heading6(){
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
    letter-spacing: $letter-spacing;
}

@mixin paragragh(){
    font-size: $font-size-extra-small;
    font-weight: $font-weight-regular;
    letter-spacing: $letter-spacing;
}

@mixin label(){
    font-size: $font-size-extra-small;
    font-weight: $font-weight-regular;
}