

// COLORS
$primary-color: #B4DDC0;
$secondary-color: #005546;
$tertiary-color: #F8F8F8;
$quaternary-color: #2F2D53;
$quinary-color: #AFCAC5;
$senary-color: #2C2C2C;


$white-color: white;
$black-color: black;

// FONTS


// FONT SIZE